@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --celeste:#30c5eb;
}

/* Estilos globales*/
body{
    font-family: 'DM Sans', sans-serif;
}

/*Estilos de utilidad*/
.contenedor{
    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
}

.titulo, h1{
    font-size: 4rem;
}

.subtitulo{
    font-size: 3em;
    font-weight: bold;
}

.padding-seccion{
    padding: 4.25rem 2rem;    
}

.fondo-celeste{
    background-color: var(--celeste);
}
.centrar-vertical-y-horizontal{
    display: flex;
    align-items: center;
    justify-items: center;
}

.subrayado-celeste{
    position: relative;
    display: inline-block;
    z-index: 1;
}

.subrayado-celeste::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 0.56rem;
    background-color: var(--celeste);
    width: 100%;
    z-index: -1;
}

/*Estilos de componentes*/
.texto-e-imagen{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    text-align: center;
}

.avatar{
    border-radius: 50%;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.texto-e-imagen .acciones{
    margin-bottom: 4.25em;
}

.texto-e-imagen.portada{
    padding-bottom: 0;
}

.texto-e-imagen .contenido-principal{
    flex-grow: 1;
    display: grid;
    gap: 3em;
    grid-template-rows: auto minmax(0,1fr) auto;
    justify-items: center;
}

@media(min-width:60rem){
    .texto-e-imagen .texto{
        flex: 1;
        text-align: left;
    }
    .texto-e-imagen .contenido-principal{
        justify-items: start;
        text-align: left;
    }
    .texto-e-imagen{
        flex-direction: row;
        align-items: stretch;
    }
}