@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --celeste:#30c5eb;
}

/* Estilos globales*/
body{
    font-family: 'DM Sans', sans-serif;
}

/*Estilos de utilidad*/
.contenedor{
    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
}

.titulo, h1{
    font-size: 3rem;
}

.subtitulo{
    font-size: 2em;
    font-weight: bold;
}

.padding-seccion{
    padding: 4.25rem 2rem;    
}

.fondo-celeste{
    background-color: var(--celeste);
}
.centrar-vertical-y-horizontal{
    display: flex;
    align-items: center;
    justify-items: center;
}

.subrayado-celeste{
    position: relative;
    display: inline-block;
    z-index: 1;
}

.subrayado-celeste::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 0.56rem;
    background-color: var(--celeste);
    width: 100%;
    z-index: -1;
}

/*Estilos de componentes*/
.texto-e-imagen{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    text-align: center;
}

.imagenes img {
    border-radius: 5%;
}

.avatar{
    border-radius: 50%;
    width: 300px;
    height: 400px;
    object-fit: cover;    
}

.texto-e-imagen .acciones{
    margin-bottom: 4.25em;
}

.texto-e-imagen.portada{
    padding-bottom: 0;
}

.texto-e-imagen .contenido-principal{
    flex-grow: 1;
    display: grid;
    gap: 3em;
    grid-template-rows: auto minmax(0,1fr) auto;
    justify-items: center;
}

@media(min-width:60rem){
    .elemento-con-imagenes{
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    .elemento-con-imagenes:nth-child(even){
        flex-direction: row-reverse;
    }

    .elemento-con-imagenes .texto{
        flex: 1;
        max-width: 100%;
        align-self: center;
    }

    .elemento-con-imagenes .imagenes{
        flex: 0 0 50%;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-template-rows: repeat(2,minmax(0,1fr));
        grid-template-areas: ". imagen-derecha""imagen-izquierda .";
    }

    .elemento-con-imagenes .imagenes img:first-child{
        grid-area: imagen-derecha;
    }

    .elemento-con-imagenes .imagenes img:last-child{
        grid-area: imagen-izquierda;
    }

    .texto-e-imagen .texto{
        flex: 1;
        text-align: left;
    }
    .texto-e-imagen .contenido-principal{
        justify-items: start;
        text-align: left;
    }
    .texto-e-imagen{
        flex-direction: row;
        align-items: stretch;
    }
}